div#map-canvas {
    width: 100%;
    height: 100%;
    background: #000;
}

div#action-box {
    position: absolute;
    right: 25px;
    top: 60px;
    padding: 10px;
    background-color: rgba(0,0,0,0.45);
    border-radius: 4px;
}

.ui.button.ifixvt-button {
    position: relative;
    display: block;
}

#view-issues-btn {
    margin-top: 10px;
}

div.content {
    background: transparent !important;
}

h1#ifixvt-text {
    color:white;
    height:.6em;

}

h2#views-header {
    color: white;
    text-align: center;
    margin: 0px 0px 0px 0px;
}