html, body {
    background: black;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    color: #444;
    height: 100%;
    width: 100%;
    margin: 0px;
}

