@(towns :List[db.models.Town], issueTypes:List[db.models.IssueType])
@main("iFixVT | Viewing Issues") {
    <div class="ui menu" style="margin: 0px;border-radius:0px;border-bottom: 1px solid #CCCCCC;">
        <div class="header item"><i class="icon stethoscope"></i>iFix<span style="color:green">VT</span></div>
        <div class="right menu">
            <div class="borderless vertically fitted item">
                <!--<div class="ui icon input">-->
                <!--<input type="text" placeholder="Search...">-->
                <!--<i class="search link icon"></i>-->
                <!--</div>-->
                <div class="ui selection dropdown">
                    <input type="hidden" name="town" id="town" ng-model="town">
                    <i class="dropdown icon"></i>
                    <div class="default text">(All Towns)</div>
                    <div class="menu">
                        @for(town <- towns) {
                        <div class="item" ng-click="onTypeChange(this)" data-value="@town.getId()" value="@town.getId()">@town.getName()</div>
                        <!--private String id;-->
                        <!--private String name;-->
                        <!--private Double area;-->
                        <!--private Double density;-->
                        <!--private Long population;-->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=visualization"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/googleMaps.js")'></script>

    <script>
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="map-canvas"></div>

    <div id="action-box">
        <h2 id="views-header">Views</h2>
        <div change-active class="ui large vertical blue inverted menu" id="google-map-view-box">
            <a class="active item" id="view-plain-issue-data">
                Plain Issue Data
            </a>
            <a class="item" id="view-issue-count-heat-map">
                Issues Heat Map
            </a>
            <a class="item" id="view-issue-by-town-heat-map">
                Issues-by-Town Heat Map
            </a>
            <a class="item" id="view-issue-by-town-density-heat-map">
                Issues-by-Town Density Heat Map
            </a>
        </div>
        <div class="ui large vertical teal inverted menu">
            <a ng-click="showStats()" class="item">
                Statistics &amp; Reporting
            </a>
        </div>
    </div>

    <div id="stats-modal" class="ui modal vertical flip">
        <i class="close icon"></i>
        <div class="header">Report Issue</div>
        <div class="content">
            <div change-active class="ui secondary pointing menu">
                <a class="active item">
                    All Issues
                </a>
                <a class="item">
                    <i class="home icon"></i> By Town
                </a>
                <a class="item">
                    <i class="certificate icon"></i> By Type
                </a>
            </div>
        </div>
        <div class="actions">
            <div class="ui red button">Cancel</div>
            <div class="ui green button" id="add-issue-btn">Report it!</div>
        </div>
    </div>

}
