@(towns :List[db.models.Town], issueTypes:List[db.models.IssueType])

@main("iFixVT | Add Issue") {
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/phone.css")'>
    <style>
        html, body {
            background-image: url('@routes.Assets.at("images/vermont.jpg")')!important;
            background-size: cover!important;
        }
        .ui.segment.form {
            margin: 15px !important;
            background: rgba(255,255,255,0.7);
            border: .4em solid rgba(255, 255, 255, 0.8);
        }
    </style>

    <div class="ui menu" style="margin: 0px;border-radius:0px;border-bottom: 1px solid #CCCCCC;">
        <div class="header item"><i class="icon stethoscope"></i>iFix<span style="color:green">VT</span></div>
    </div>

    <div id="save-success" class="ui modal">
        <i class="close icon"></i>
        <div class="content" style="padding-bottom:0px;">
            <h3 style="color: green;margin: 0;line-height: 30px;">Thank you for submitting your issue! We'll get back to you when more action is taken.</h3>
        </div>
        <div class="actions">
            <div class="ui button" ng-click="closeModal()">Close</div>
        </div>
    </div>
    @addissue(towns, issueTypes)
}